.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0 2rem 0;
}

.Ask,
.more,
.less {
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.2s;
}

.more,
.less {
  width: 2rem;
}
.Ask {
  width: 18.75rem;
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.Ask:hover {
  background-color: #4e4e4e;
}

.more:hover {
  background-color: #4e4e4e;
}
