.Ask {
  margin: 1rem;
  width: 18.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.2s;
}

.Ask:hover {
  background-color: #4e4e4e;
}
