nav {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  background-color: black;
}

ion-icon {
  width: 1.5rem;
  height: 1.25rem;
  padding: 0.5rem;
  color: #f0ffff;
}
