@import url(variants.css);
@import url(nav.css);
@import url(button.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bcg-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.options {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  max-width: 40.25rem;
  padding-top: 2rem;
}

h1 {
  font: var(--title);
  padding-bottom: 1rem;
}

p {
  font: var(--paragraph);
}

button {
  font: var(--paragraph);
}

footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-hidden {
  display: none;
  align-items: center;
}
